@mixin iconSearch {
  .no-svg & {
    svg {
      &#ico {
        outline: 0;
        display: none;
        fill: transparent;
        stroke: none;
      }
    }
    &:after {
      display: inline;
      content: url(../img/search.png);
      position: relative;
    }
  }
  #ico {
    @include border-radius(4px);
    border: 2px solid $black;
    padding: 8px;
  }

}
@mixin iconInfini {
  &:after {
    display: block;
    content: url(../img/refresh.png);
  }
}
