/* .loader {
  @include transform(translate(-50%, 50%));
  display: none;
  position: relative;
  top: 70%;
  left: 50%;
  width: 80%;
  height: 80%;
} */
#loader {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  .spinner {
    display: none;
  }
}
#loader.loading {
  z-index: 4;
  opacity: 1;
  background: $bg-color;
  .spinner {
    display: block;
  }
}
.spinner {
  @include transform(translate(-50%, -50%));
  position: absolute;
  width: 30px;
  height: 30px;

  top: 50%;
  left: 50%;

  .blob {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    border: 2px solid lighten($result-color, 30%);
    width: 10px;
    height: 10px;
    @include border-radius(50%);
    &.top {
      top: 0;
      animation: blob-top 1s infinite ease-in;
    }
    &.bottom {
      top: 100%;
      animation: blob-bottom 1s infinite ease-in;
    }
    &.left {
      left: 0;
      animation: blob-left 1s infinite ease-in;
    }
  }

  .move-blob {
    background: darken($result-color, 90%);
    top: 0;

    animation: blob-spinner-mover 1s infinite ease-in;
  }
}

#no-results {
  display: none;
}
.failed #no-results {
  @include transform(translate(-50%, -50%));
  @include border-radius(8px);
  z-index: 4;
  font-size: 2.5rem;
  line-height: 1;
  padding: 2rem;
  display: block;
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  text-align: center;
  border: 1px solid;
}

@keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}

@keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}
