q {
  position: relative;
  quotes: "“" "”" "‘" "’";
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

#page {
  @include paperShadow;
  @include border-radius(4px);
  position: relative;
  background-color: $white;
  top: 0;
  padding: 2rem 2rem 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 0;
  border-right: 1px solid $bg-color;
  border-left: 1px solid $bg-color;
  width: 80%;
  @media only screen and (min-width: 480px) {
    width: 85%;
  }
  @media only screen and (min-width: 640px) {
    width: 90%;
    margin-bottom: 4rem;
    max-width: 864px;
  }
  @media only screen and (min-width: 960px) {
    width: 100%;
  }
}
