*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
select,
input,
textarea {
  color: $text-color;
  outline: 0;
  font-weight: 200;
}

html {
  height: 100%;
}

body {
  line-height: 1.6;
  font-family: $font;
  font-size: 100%;
  background: $bg url(../img/t-38_X1.png) right top;
  background-repeat: repeat;
  background-attachment: fixed;
  zoom: 1;
  *zoom: 1;
}

/* .ie9 body,
.ie8 body,
.ie7 body {
} */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

q {
  position: relative;
  quotes: "“" "”" "‘" "’";
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: #1BA39C;//#828282;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.browsehappy {
  margin: 0.2rem 0;
  background: #ccc;
  color: #000;
  padding: 0.2rem 0;
}

#page {
  background-color: $white;
  padding: 2rem 2rem 7rem;
  margin: 3rem auto;
  border-right: 1px solid $bg;
  border-left: 1px solid $bg;
  box-shadow: 0 0 15px $shadow-color;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  &.overlay {
    @media only screen and (min-width: 1140px) {
      width: 100%;
      margin: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    width: 90%;
    margin: 0 5%;
  }
  @media only screen and (min-width: 1140px) {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}




