/* Coolors Exported Palette - coolors.co/17bebb-2e282a-cd5334-edb88b-fad8d6 */

$result-color: #17bebb;
$heading-color: #2e282a;
$action-color: #cd5334;
$action-highlight-color: #edb88b;
$text-highlight-color: #fad8d6;
