/* Coolors Exported Palette - coolors.co/17bebb-2e282a-cd5334-edb88b-fad8d6 */

$result-color: #00D400;
$result-highlight-color: #80FF80;
$action-color: #870044;
$action-highlight-color: #D4006A;

// ======

$result-color1: #0074B2;
$result-highlight-color1: #00A5FF;
$action-color1: #FF9000;
