

.show-all {
  display: none;
}
.filtered & {
  /*.show-all {
    @include border-radius(4px);
    display: block;
    flex-grow: 1;
    background-color: $text-highlight-color;
    color: $bg-color;
    border: 1px solid $text-highlight-color;
    *//*width: 10rem;*//*
    *//*margin: 3px auto;*//*
    text-align: center;
    cursor: pointer;
    padding: 5px 8px;
    margin: 5px auto;
    &:hover {
      background-color: transparent;
      color: $text-highlight-color;
    }
  }*/
}






/* ==============
  MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.ie7 .title {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
/* ============
  WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


@media only screen and (min-width: 480px) {

  /* ====================
    INTERMEDIATE: Menu
     ==================== */

    nav a {
      float: left;
      width: 27%;
      margin: 0 1.7%;
      padding: 25px 2%;
      margin-bottom: 0;
    }

    nav li:first-child a {
      margin-left: 0;
    }

    nav li:last-child a {
      margin-right: 0;
    }

  /* ========================
    INTERMEDIATE: IE Fixes
     ======================== */

    nav ul li {
      display: inline;
    }

    .oldie nav a {
      margin: 0 0.7%;
    }
  }
}



// .number2 {
//   display: none;
//   // @include ribbon(transparent, $text-highlight-color);
//   // @include rightMantel;
//   // cursor: default;
//   // font-weight: $bold;
//   // font-style: italic;
//   // font-family: $readable;
//   // font-size: .8em;
//   // font-style: italic;
//   // @media all and (min-width: 540px) {
//   //   font-size: inherit;
//   // }
//   // @include rightRibbon;
//   // @include leftRibbon;
//   // &:hover {
//   //   .climb-up, .look-inside, .do-both {
//   //     @include miniButton($black, .125rem .375rem);
//   //     float: left;
//   //     clear: none;
//   //     margin: auto 2rem auto 0;
//   //     cursor: pointer;
//   //   }
//   // }
// }

// .reveal.climb-up, .reveal.look-inside, .reveal.do-both {
//   display: none;
// }

      // #infini-status {
      //   z-index: -1;
      //   pointer-events: none;
      //   opacity: 0;
      //   color: $result-color;
      //   &:after {
      //     border-color: $result-color;
      //   }
      // }
