

.show-all {
  display: none;
}
.filtered & {
  /*.show-all {
    @include border-radius(4px);
    display: block;
    flex-grow: 1;
    background-color: $text-highlight-color;
    color: $bg-color;
    border: 1px solid $text-highlight-color;
    *//*width: 10rem;*//*
    *//*margin: 3px auto;*//*
    text-align: center;
    cursor: pointer;
    padding: 5px 8px;
    margin: 5px auto;
    &:hover {
      background-color: transparent;
      color: $text-highlight-color;
    }
  }*/
}






/* ==============
  MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.ie7 .title {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
/* ============
  WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


@media only screen and (min-width: 480px) {

  /* ====================
    INTERMEDIATE: Menu
     ==================== */

    nav a {
      float: left;
      width: 27%;
      margin: 0 1.7%;
      padding: 25px 2%;
      margin-bottom: 0;
    }

    nav li:first-child a {
      margin-left: 0;
    }

    nav li:last-child a {
      margin-right: 0;
    }

  /* ========================
    INTERMEDIATE: IE Fixes
     ======================== */

    nav ul li {
      display: inline;
    }

    .oldie nav a {
      margin: 0 0.7%;
    }
  }
}



// .number2 {
//   display: none;
//   // @include ribbon(transparent, $text-highlight-color);
//   // @include rightMantel;
//   // cursor: default;
//   // font-weight: $bold;
//   // font-style: italic;
//   // font-family: $readable;
//   // font-size: .8em;
//   // font-style: italic;
//   // @media all and (min-width: 540px) {
//   //   font-size: inherit;
//   // }
//   // @include rightRibbon;
//   // @include leftRibbon;
//   // &:hover {
//   //   .climb-up, .look-inside, .do-both {
//   //     @include miniButton($black, .125rem .375rem);
//   //     float: left;
//   //     clear: none;
//   //     margin: auto 2rem auto 0;
//   //     cursor: pointer;
//   //   }
//   // }
// }

// .reveal.climb-up, .reveal.look-inside, .reveal.do-both {
//   display: none;
// }

      // #infini-status {
      //   z-index: -1;
      //   pointer-events: none;
      //   opacity: 0;
      //   color: $result-color;
      //   &:after {
      //     border-color: $result-color;
      //   }
      // }

// #infini-status {
//   @include transition(opacity, .075s, ease-out);
//   pointer-events: none;
//   z-index: -1;
//   display: table;
//   opacity: 0;
//   color: $text-on-bg-color;
//   max-width: 8rem;
//   max-height: 3.2rem;
//   width: 100%;
//   height: 100%;
//   @media handheld,tablet and (min-width: 480px) {
//     pointer-events: auto;
//     z-index: 2;
//     opacity: 1;
//     &:after {
//       display: table-cell;
//       position: absolute;
//       content:'Infinite Scroll';
//       background-color: $white;
//       word-wrap: normal;
//       border: 2px solid;
//       border-left: none;
//       top: 0;
//       left: calc(100% - 2px);
//       padding-left: 1rem;
//       padding-right: 1rem;
//     }
//   }
// }

// .disabled #infini-status {
//   color: $shadow-color;
//   pointer-events: none;
//   z-index: -1;
//   opacity: 0;
// }

// .filtered {
//   .doc {
//     opacity: .35;
//     &.selected {
//       opacity: 1;
//       &:hover {
//         opacity: 1;
//       }
//     }
//     &:hover {
//       opacity: .65;
//     }
//   }
//   .content {
//     display: none;
//     .number {
//       display: none;
//     }
//     .text, .details {
//       display: none;
//     }
//     .info {
//       pointer-events: none;
//     }
//     &.selected {
//       display: block;
//       .number {
//         display: block;
//       }
//       .text, .details {
//         display: block;
//       }
//       .info {
//         pointer-events: all;
//       }
//     }
//   }
// }


  // Turn this off until we can handle
  // the filter on huge amounts of results.

  // &.sticky {
  //   @include box-shadow(0, 1px, 6px, 0, $shadow-color);
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   // height: 3rem;
  //   background-color: $bg-color;
  //   // height: 3rem;
  //   z-index: 2;
  //   @media all and (min-width: 640px) {
  //     padding-right: 5rem;
  //   }
  // }

  // @media all and (min-width: 480px) {
  //   width: 90%;
  // }


// .send {
  // @include transform(translateX(-50%));
  // position: absolute;
  // top: 100%;
  // left: 50%;
  // text-shadow: 0 1px 0 $shadow-color;
  // max-width: 14rem; // 18rem before
// }

// .search-wrap {

  // margin-top: 4rem;
  // @media all and (min-width: 540px) {
  //   top: 0;
  // }
  // .done & {
  //   @include transition(all, .15s, ease-out);
  //   @include transform(translate3d(0,-100%,0));
  //   opacity: 0;
  //   z-index: -1;
  //   display: none;
  //   display: block;
  //   margin-top: 0;
  // }
  // .done.emerge & {
    //}
//}
