
/* ==============
  MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.ie7 .title {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
/* ============
  WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


@media only screen and (min-width: 480px) {

  /* ====================
    INTERMEDIATE: Menu
     ==================== */

    nav a {
      float: left;
      width: 27%;
      margin: 0 1.7%;
      padding: 25px 2%;
      margin-bottom: 0;
    }

    nav li:first-child a {
      margin-left: 0;
    }

    nav li:last-child a {
      margin-right: 0;
    }

  /* ========================
    INTERMEDIATE: IE Fixes
     ======================== */

    nav ul li {
      display: inline;
    }

    .oldie nav a {
      margin: 0 0.7%;
    }
  }
}
