.related {
  margin: 0 auto;
  padding: 1rem 0 2rem;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: none;
  a {
    flex-grow: 1;
    color: $text-highlight-color;
    margin: 0 1rem 0 0;
    text-align: center;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 3px 5px;
    font-size: 1.25rem;
    &:hover {
      border-bottom-color: $result-color;
      color: $result-color;
    }
  }
}

.no-flexbox, .ie9 {
  .related > li {
    margin: 1%;
    float: left;
    max-width: 18%;
    width: 100%;
  }
}

.result {
  &.content {
    margin-top: 2rem;
    position: relative;
    .details,
    .meta {
      font-size: .875rem;
      color: $text-highlight-color;
      font-family: $font;
      margin: .125rem auto;
      @media all and (min-width:768px) {
        font-size: 1.25rem;
        position: relative;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: 0;
      }
    }
    .text {
      color: $text-color;
      font-family: $readable;
      position: relative;
      font-size: 1.35rem;
      clear: both;
      padding-top: 1rem;
      padding-bottom: 1rem;
      q {
        &:before {
          position: absolute;
          right: 100%;
        }

        &:after {
          position: absolute;
          left: 100%;
        }
      }
      .reveal {
        display: none;
      }
      @media all and (min-width:480px) {
        font-size: 1.35rem;
      }
      @media all and (min-width:768px) {
        font-size: 1.75rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      @media all and (min-width:1140px) {
        font-size: 1.65rem;
      }
    }
  }
  .info {
    font-family: $font;
    font-size: 1rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin: .125rem auto;
    clear: both;
    .doc-name {
      font-weight: 500;
      color: inherit;
      .title {
        font-weight: 300;
      }
    }
  }
  em {
    color: $result-color;
    font-style: normal;
  }
  &:hover .doc-name {
    border-bottom-color: inherit;
    &:hover {
      border-color: $result-color;
      color: $result-color;
    }
  }
}

.filtered {
  .result,
  .doc a {
    opacity: .35;
    &.selected {
      opacity: 1;
    }
  }
  .result {
    .text {
      display: none;
    }
    &.selected {
      .text {
        display: block;
      }
    }
  }
  .doc a {
    &:hover {
      opacity: .65;
    }
    &.selected:hover {
      opacity: 1;
    }
  }
}

.more {
  color: $bg;
  position: relative;
  clear: both;
  background-color: $result-color;
  border: none;
  border-radius: 8px;
  &.content {
    border-bottom: 1px solid #22313F;
    border-top: 1px solid #C8F7C5;
    display: block;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem auto 0;
    padding: 1.25rem;
    width: 90%;
  }
}

.more:active {
  border-bottom-color: transparent;
  border-top-color: rgba(44, 62, 80, .5);
  text-shadow: 0 -1px 0 rgba(34, 49, 63, .5), 0 0 1px rgba(34, 49, 63, .125);
}

.more-old:active {
  border-bottom-color: #C8F7C5;
  border-top-color: #1E824C;
}

.pretty {
  &.doc {
    a {
      font-weight: 400;
      color: $success-color;
      &:hover {
        border-bottom-color: $success-color;
        color: $success-color;
      }
    }
  }
  &.content {
    padding-left: 1rem;
    border-left: 2px solid $success;
    &:hover .doc-name:hover {
      color: $success;
      border-color: $success;
    }
  }
  em {
    color: $success;
  }
}

.boring {
  font-size: .875rem;
}

.failed {
  &.overlay {
    background: $bg;
  }
}
