.page-header {
  background-color: $action-color;
  border-bottom: 3px solid $white;
  color: $bg-color;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.4rem;
}

.summary {
  // font-family: $heading;
  text-rendering: optimizeLegibility;
  font-weight: $med;
  text-align: center;
  //margin: $sumMargMob auto 0;
  // @media all and (min-width: 768px) {
    // margin: $sumMargPC auto 0;
  // }
}

.term {
  font-size: 2.5em;
}

.term, .total, .count {
  /*color: $action-color;*/
  text-shadow: 0 1px 1px $shadow-color;
  color: #FFF;
  font-weight: $bold;
}

.total, .count {
  border-bottom: 1px wavy $white;
}

.results {
  position: relative;
}

.related {
  font-family: $heading;
  font-size: 1rem;
  font-weight: $med;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.related-label {
  display: none;
  // font-size: 1.2rem;
  // width: 60%;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  // @media all and (min-width: 540px) {
  //   font-size: 2rem;
  //   width: auto;
  // }
}

.related-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 864px;
  margin: 0 auto;
  list-style: none;
  border: none;

  // Turn this off until we can handle
  // the filter on huge amounts of results.

  // &.sticky {
  //   @include box-shadow(0, 1px, 6px, 0, $shadow-color);
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   // height: 3rem;
  //   background-color: $bg-color;
  //   // height: 3rem;
  //   z-index: 2;
  //   @media all and (min-width: 768px) {
  //     padding-right: 5rem;
  //   }
  // }

  // @media all and (min-width: 480px) {
  //   width: 90%;
  // }
}

.related .doc {
  @include border-radius(4px);
  text-rendering: optimizeLegibility;
  cursor: default;
  flex-shrink: 1;
  background-color: $white;
  text-align: center;
  border: 1px solid;
  padding: .6rem;
  margin: .4rem;
  @media all and (min-width: 480px) {
    font-size: 1.2rem;
  }
  @media all and (min-width: 960px) {
    font-size: 1.4rem;
  }
  // cursor: pointer;
  &.pretty {
    font-weight: $bold;
    // border-width: 3px;
  }
}

.result {
  em {
    color: $result-highlight-color;
    font-style: normal;
    font-weight: $bold;
  }
  &.content:nth-child(n) {
    border-bottom: 1px solid $bg-color;
  }
  &.content:last-child {
    border-bottom: none;
  }
}


// .filtered {
//   .doc {
//     opacity: .35;
//     &.selected {
//       opacity: 1;
//       &:hover {
//         opacity: 1;
//       }
//     }
//     &:hover {
//       opacity: .65;
//     }
//   }
//   .content {
//     display: none;
//     .number {
//       display: none;
//     }
//     .text, .details {
//       display: none;
//     }
//     .info {
//       pointer-events: none;
//     }
//     &.selected {
//       display: block;
//       .number {
//         display: block;
//       }
//       .text, .details {
//         display: block;
//       }
//       .info {
//         pointer-events: all;
//       }
//     }
//   }
// }

.content {
  color: $text-highlight-color;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
  // &:hover {
  // }
  &.pretty .text {
    padding-left: 2rem;
    border-left: 3px solid;
  }
  @media all and (min-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

// .number2 {
//   display: none;
//   // @include ribbon(transparent, $text-highlight-color);
//   // @include rightMantel;
//   // cursor: default;
//   // font-weight: $bold;
//   // font-style: italic;
//   // font-family: $readable;
//   // font-size: .8em;
//   // font-style: italic;
//   // @media all and (min-width: 540px) {
//   //   font-size: inherit;
//   // }
//   // @include rightRibbon;
//   // @include leftRibbon;
//   // &:hover {
//   //   .climb-up, .look-inside, .do-both {
//   //     @include miniButton($black, .125rem .375rem);
//   //     float: left;
//   //     clear: none;
//   //     margin: auto 2rem auto 0;
//   //     cursor: pointer;
//   //   }
//   // }
// }

// .reveal.climb-up, .reveal.look-inside, .reveal.do-both {
//   display: none;
// }

.text {
  text-rendering: optimizeLegibility;
  position: relative;
  color: $text-color;
  font-size: 1.2rem;
  line-height: 1.7;
  clear: both;
  // margin-top: 1rem;
  // margin-bottom: 0;
  // q {
  //   &:before {
  //     position: absolute;
  //     right: 100%;
  //   }
  //   &:after {
  //     position: absolute;
  //     left: 100%;
  //   }
  // }
  .combined {
    display: none;
  }
  .parts {
    display: block;
  }
  &.opened {
    .parts {
      display: none;
    }
    .combined {
      display: inline;
    }
  }
  @media all and (min-width:540px) {
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  @media all and (min-width:1140px) {
    font-size: 1.6rem;
  }
}

.reveal-text {
  @include miniButton($white, $result-highlight-color);
  font-family: $heading;
  margin: 1rem 0;
  // &:hover {
  //   background-color: transparent;
  //   color: $action-color;
  // }
}

.opened .reveal-text {
  color: $white;
  background-color: $result-highlight-color;
  // &:hover {
  //   color: $white;
  //   background-color: $action-color;
  // }
}

.meta {
  max-width: 100%;
  width: 100%;
  position: relative;
  color: $text-highlight-color;
  font-family: $heading;
  font-size: 1rem;
  // margin-top: 1rem;
}

.details {
  float: left;
  max-width: 50%;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  .chapter, .section, .number {
    font-size: .8rem;
  }
  .number {
    // color: $result-color;
    // font-weight: $bold;
    font-style: italic;
  }
}

.info {
  position: relative;
  color: inherit;
  float: right;
  max-width: 50%;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  .pub, .title {
    color: $result-color;
    border-bottom: 1px solid transparent;
    font-size: .8rem;
  }
  &:hover {
    .pub, .title {
      border-bottom-color: $result-color;
    }
  }
}

.more {
  @include pushButton($result-highlight-color);
  position: absolute;
  font-family: $heading;
  bottom: 2rem;
  &.content {
    max-width: 90%;
    width: 100%;
    left: 5%;
    right: 5%;
  }
}

.infini-check {
  position: fixed;
  display: block;
  top: 1rem;
  left: 1rem;
  input {
    display: none;
  }
}

#infini-label {
  @include iconInfini;
  display: block;
  cursor: pointer;
  z-index: 3;
  width: 3.2rem;
  height: 3.2rem;
  svg {
    // @include transition(all, .25s, ease-out);
    // opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    path {
      fill: $white;
    }
    rect {
      fill: $action-color!important;
      stroke: $action-color!important;
    }
  }
  &:hover {
    svg {
      path {
        fill: $shadow-color;
      }
      rect {
        fill: $white!important;
        stroke: $shadow-color!important;
      }
    }
    // #infini-status {
    //   color: $shadow-color;
    //   opacity: 1;
    //   &:after {
    //     border-color: $shadow-color;
    //   }
    // }
  }
  &.disabled {
    svg {
      path {
        fill: $white;
      }
      rect {
        fill: $shadow-color!important;
        stroke: $shadow-color!important;
      }
    }
    &:hover {
      svg {
        path {
          fill: $action-color;
        }
        rect {
          fill: $white!important;
          stroke: $action-color!important;
        }
      }
      // #infini-status {
      //   z-index: -1;
      //   pointer-events: none;
      //   opacity: 0;
      //   color: $result-color;
      //   &:after {
      //     border-color: $result-color;
      //   }
      // }
    }
  }
}

// #infini-status {
//   @include transition(opacity, .075s, ease-out);
//   pointer-events: none;
//   z-index: -1;
//   display: table;
//   opacity: 0;
//   color: $text-on-bg-color;
//   max-width: 8rem;
//   max-height: 3.2rem;
//   width: 100%;
//   height: 100%;
//   @media handheld,tablet and (min-width: 480px) {
//     pointer-events: auto;
//     z-index: 2;
//     opacity: 1;
//     &:after {
//       display: table-cell;
//       position: absolute;
//       content:'Infinite Scroll';
//       background-color: $white;
//       word-wrap: normal;
//       border: 2px solid;
//       border-left: none;
//       top: 0;
//       left: calc(100% - 2px);
//       padding-left: 1rem;
//       padding-right: 1rem;
//     }
//   }
// }

// .disabled #infini-status {
//   color: $shadow-color;
//   pointer-events: none;
//   z-index: -1;
//   opacity: 0;
// }
