.page-header {
  background-color: $action-color;
  border-bottom: 2px solid $white;
  color: $white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1rem;
  @media all and (min-width: 480px) {
    font-size: 1.2rem;
  }
  @media all and (min-width: 640px) {
    font-size: 1.4rem;
  }
  @media all and (min-width: 960px) {
    font-size: 1.8rem;
  }
}

.summary {
  // font-family: $heading;
  text-rendering: optimizeLegibility;
  font-weight: $med;
  text-align: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  max-width: calc(100% - 9rem);
  width: 100%;
  @media all and (min-width: 960px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 864px;
    width: 100%;
  }
  //margin: $sumMargMob auto 0;
  // @media all and (min-width: 640px) {
    // margin: $sumMargPC auto 0;
  // }
}

.term {
  font-size: 2.5em;
}

.term, .total, .count {
  text-shadow: 0 1px 1px $shadow-color;
  color: $white;
  font-weight: $bold;
}

.results {
  position: relative;
}

.related {
  padding-bottom: .6rem;
  padding-top: .6rem;
  font-size: 1rem;
  @media all and (min-width: 480px) {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  @media all and (min-width: 640px) {
    padding-bottom: 2rem;
    padding-top: 2rem;
    // font-size: 1.4rem;
  }
  // @media all and (min-width: 960px) {
  //   font-size: 1.6rem;
  // }
}

.related-label {
  display: none;
  // font-size: 1.2rem;
  // width: 60%;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  // @media all and (min-width: 540px) {
  //   font-size: 2rem;
  //   width: auto;
  // }
}

.related-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 864px;
  margin: 0 auto;
  list-style: none;
  border: none;
}

.related .doc {
  @include border-radius(4px);
  text-rendering: optimizeLegibility;
  cursor: default;
  flex-shrink: 1;
  background-color: $white;
  color: $action-color;
  text-align: center;
  // font-family: $heading;
  font-weight: $med;
  font-size: 1em;
  border: 1px solid;
  margin: .4rem;
  padding: .2rem .4rem;
  @media all and (min-width: 640px) {
    padding: .3rem .45rem;
  }
  @media all and (min-width: 960px) {
    padding: .4rem .6rem;
  }
  &.pretty {
    font-weight: $bold;
    border-width: 2px;
  }
}

.content {
  color: $text-highlight-color;
  font-size: 1.2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
  em {
    color: $result-highlight-color;
    font-style: normal!important;
    font-weight: $bold;
  }
  &.pretty .text {
    padding-left: 2rem;
    border-left: 3px solid;
  }
  &:nth-child(n) {
    border-bottom: 1px solid rgba(200,200,200,.25);
  }
  &:last-child {
    border-bottom: none;
  }
  &:first-child {
    padding-top: 0;
    @media all and (min-width: 640px) {
      padding-top: 2rem;
    }
  }
  @media all and (min-width: 640px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.text {
  // @include transition(opacity, .075s, ease-out);
  text-rendering: optimizeLegibility;
  position: relative;
  color: $text-color;
  line-height: 1.7;
  clear: both;
  overflow: hidden;
  // margin-top: 1rem;
  // margin-bottom: 0;
  q {
    &:before {
      position: relative;
      // position: absolute;
      // right: 100%;
    }
    &:after {
      position: relative;
      // position: absolute;
      // left: 100%;
    }
    margin-bottom: .4rem;
  }
  .combined, .parts {
    @include transition(all, .075s, ease-out);
    margin-bottom: 1rem;
    display: block;
  }
  .combined {
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
  }
  .parts {
    position: relative;
    opacity: 1;
  }
  &.opened {
    .combined, .parts {
      @include transition(all, .075s, ease-out);
    }
    .combined {
      position: relative;
      opacity: 1;
    }
    .parts {
      position: absolute;
      opacity: 0;
      top:0;
      left:0;
    }
  }
  @media all and (min-width:640px) {
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  @media all and (min-width:960px) {
    font-size: 1.6rem;
  }
}

.reveal-text {
  @include miniButton($result-highlight-color, $white);
  font-family: $heading;
  margin: 1rem 0;
  &:hover, &:active {
    text-decoration: underline;
  }
}

.opened .reveal-text {
  color: $result-highlight-color;
  background-color: $white;
}

.meta {
  position: relative;
  color: $text-color;
  font-family: $heading;
  font-size: .8em;
  line-height: 1.7;
  max-width: 100%;
  width: 100%;
  margin-top: 1rem;
  .content:hover & {
    .info .pub, .info .title {
      color: #000000;
    }
  }
}

.details {
  overflow: hidden;
  text-align: left;
  float: left;
  max-width: 50%;
  margin-left: 0;
  margin-right: 0;
}

.info {
  position: relative;
  color: inherit;
  overflow: hidden;
  text-align: right;
  float: right;
  max-width: 50%;
  margin-left: 0;
  margin-right: 0;
  .pub, .title {
    border-bottom: 1px solid transparent;
  }
  &:hover {
    .pub, .title {
      border-bottom-color: #000000;
    }
  }
}

.more {
  @include pushButton($result-highlight-color);
  position: absolute;
  font-family: $heading;
  font-size: 2.5rem;
  bottom: 2rem;
  &.content {
    max-width: 90%;
    width: 100%;
    left: 5%;
    right: 5%;
  }
}

.infini-check {
  position: fixed;
  display: block;
  top: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  left: 1rem;
  // @media all and (min-width: 640px) {
  //   left: calc((864px - 90%)/2 + 1rem);
  // }

  // Because 960px + 8.4rem = 1076px.
  // 8.4rem from each icon width (so 3.2rem * 2)
  // plus 1rem offset for each.
  @media all and (min-width: 1076px) {
    left: calc((100% - 864px)/2 - 4.2rem);
  }
  input {
    display: none;
  }
}

#infini-label {
  @include iconInfini;
  display: block;
  cursor: pointer;
  z-index: 3;
  width: 3.2rem;
  height: 3.2rem;
  svg {
    // @include transition(all, .25s, ease-out);
    // opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    path {
      fill: $white;
    }
    rect {
      fill: $action-color!important;
      stroke: $white!important;
    }
  }
  &:hover {
    svg {
      path {
        fill: $shadow-color;
      }
      rect {
        fill: $white!important;
        stroke: $shadow-color!important;
      }
    }
  }
  &.disabled {
    svg {
      path {
        fill: $white;
      }
      rect {
        fill: $shadow-color!important;
        stroke: $white!important;
      }
    }
    &:hover {
      svg {
        path {
          fill: $action-color;
        }
        rect {
          fill: $white!important;
          stroke: $action-color!important;
        }
      }
    }
  }
}

