.search-wrap {
  /*.no-js & {
    @include transition(transform, .3s, ease-in);
    @include transform(translateY(0));
  }*/
  background-color: $bg-color;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  .search {
    .failed & {
      display: none;
    }
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media all and (min-width: 480px) {
      width: 28rem;
      bottom: 0;
      top: auto;
    }
    @media all and (min-width: 768px) {
      width: 40rem;
      margin-top: 18rem;
    }
  }
  .done & {
    @include transform(translateY(-100%));
    display: block;
    overflow: hidden;
    &.emerge {
      /*.no-js & {
        @include transition(transform, .3s, ease-in);
        @include transform(translateY(0));
      }*/
      z-index: 3;
      width: 100%;
      height: 100%;
    }
  }
}

.query, .send {
  position: relative;
  display: block;
  float: none;
  clear: both;
  margin: 1rem auto;
  outline: 0;
}

.query {
  @include box-sizing(border-box);
  padding: .75rem;
  max-width: 100%;
  outline: 0;
  border: 1px solid;
  border-radius: .75rem;
  background-color: $bg-color;
  color: $black;
  font-size: 1.5rem;
  &:focus,
  &:active {
    @media all and (min-width: 768px) {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: 0;
    }
  }
  &::-webkit-input-placeholder {
    display: inline;
    width: 100%;
    white-space: normal;
    opacity: .5;
    @media all and (min-width: 768px) {
      font-size: inherit;
    }
  }
  &::-moz-input-placeholder {
    display: inline;
    width: 100%;
    white-space: normal;
    opacity: .5;
    @media all and (min-width: 768px) {
      font-size: inherit;
    }
  }
  @media all and (min-width: 768px) {
    border-radius: 0;
    border-color: $text-color;
    background: transparent;
    border: none;
    width: 34rem;
    border-bottom: 1px solid $text-color;
  }
}

.send {
  @include button($action-color, .5rem);
  /*@include transform(translateX(-50%));
  position: absolute;
  top: 100%;
  left: 50%;*/
  text-shadow: 0 1px 0 $black;
  width: 100%;
  max-width: 18rem;
}

.search-restore {
  @include iconSearch;
  z-index: 3;
  width: 3rem;
  height: 3rem;
  .done & {
    position: fixed;
    display: block;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0 0 2px $white;
    &:hover {
      opacity: .5;
    }
    @media all and (min-width: 768px) {
      box-shadow: none;
      top: 1rem;
      bottom: auto;
    }
  }
}
