.search-wrap {
  /*.no-js & {
    @include transition(transform, .3s, ease-in);
    @include transform(translateY(0));
  }*/
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  .search {
    background-color: $bg-color;
    padding: 1rem;
//    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media all and (min-width: 480px) {
      width: 28rem;
      bottom: 0;
//      top: auto;
    }
    @media all and (min-width: 768px) {
      width: 40rem;
      margin-top: 12rem;
//      margin-top: 50%;
    }
    @include paperShadow;
    @include border-radius(4px);
    .failed & {
      display: none;
    }
  }
  .done & {
    /*@include transform(translateY(-100%));*/
    display: block;
//    overflow: hidden;
    .emerge & {
      /*.no-js & {
        @include transition(transform, .3s, ease-in);
        @include transform(translateY(0));
      }*/
      z-index: 3;
      width: 100%;
      height: 100%;
    }
  }
  .failed & {
    display: none;
  }
}

.query, .send {
  position: relative;
  display: block;
  float: none;
  clear: both;
  margin: 1rem auto;
  outline: 0;
}

.query {
  @include box-sizing(border-box);
  @include border-radius(.75rem);
  padding: .75rem;
  max-width: 100%;
  outline: 0;
  border: 1px solid $action-color;
  background: transparent;
  color: $black;
  font-size: 1.5rem;
  &:focus,
  &:active {
    outline: 0;
  }
  @media all and (min-width: 768px) {
    @include border-radius(0);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    width: 34rem;
  }

  &::-webkit-input-placeholder {
    display: inline;
    width: 100%;
    white-space: normal;
    opacity: .5;
    @media all and (min-width: 768px) {
      font-size: inherit;
    }
  }
  &::-moz-input-placeholder {
    display: inline;
    width: 100%;
    white-space: normal;
    opacity: .5;
    @media all and (min-width: 768px) {
      font-size: inherit;
    }
  }
}

.send {
  @include button($action-color, .5rem);
  @include transform(translateX(-50%));
  position: absolute;
  top: 100%;
  left: 50%;
  text-shadow: 0 1px 0 $shadow-color;
  width: 100%;
  opacity: 1;
  max-width: 18rem;
}

.search-restore {
  @include iconSearch;
  display: none;
  .done & {
    position: fixed;
    display: block;
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0 0 2px $white;
    z-index: 3;
    &:hover {
      opacity: .5;
    }
    &:focus,
    &:active {
      outline: 0;
    }
    @media all and (min-width: 768px) {
      box-shadow: none;
      top: 1rem;
      bottom: auto;
    }
  }
}
