@mixin box-sizing($method) {
  -webkit-box-sizing: $method;
  -moz-box-sizing: $method;
  box-sizing: $method;
}
@mixin box-shadow($x: 0, $y: 0, $blur: 3px, $spread: 0, $color: $shadow-color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
  /* WTF Why more?!  Some weird bug on Samsung
     Galaxy S4 Android 4.2 browsers.
       Not exactly a high use-case so remove if desired.*/
          border-left-top-radius: $radius;
          border-right-top-radius: $radius;
          border-right-bottom-radius: $radius;
          border-left-bottom-radius: $radius;
}
@mixin transform($action) {
  -ms-transform: $action;
  -webkit-transform: $action;
  transform: $action;
}
@mixin transition($property, $duration, $easing, $delay...) {
  -webkit-transition: $property $duration $easing $delay;
  -moz-transition: $property $duration $easing $delay;
  -o-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
}
@mixin button($color, $padding: 1.25rem, $font-size: 2.5rem) {
  @include border-radius(8px);
  display: block;
  color: $bg-color;
  position: relative;
  clear: both;
  text-align: center;
  background-color: $color;
  border: none;
  font-size: $font-size;
  margin: 1rem auto 0;
  padding: $padding;
  border-bottom: 1px solid darken($color, 80%); /*#22313F*/
  border-top: 1px solid lighten($color, 80%); /*#C8F7C5*/
  &.content {
    width: 90%;
  }
  &.loading {
    background: none;
    border: none;
  }
  &:active {
    border-bottom-color: transparent;
    border-top-color: darken($color, 85%);
    text-shadow: 0 -1px 0 darken($color, 90%), 0 0 1px darken($color, 95%);
  }
  &:hover {
    opacity: .8;
  }
}

@mixin paperShadow {
  &:before, &:after {
    bottom: 26px;
    box-shadow: 0 28px 8px rgba(0,0,0,.25);
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
  }
  &:before {
    left: 2%;
    transform: rotate(-3deg);
  }
  &:after {
    right: 2%;
    transform: rotate(3deg);
  }
  box-shadow: 0 3px 3px rgba(0,0,0,.25);
}
@mixin rightRibbon {
  right: -14px;
  margin-right: -2rem;
  &:after {
    right: -1px;
    border-left-color: $text-highlight-color;
    border-right-color: transparent;
  }
}
@mixin leftRibbon {
  left: -14px;
  margin-left: -2rem;
  &:after {
    left: -1px;
    border-right-color: $text-highlight-color;
    border-left-color: transparent;
  }
}
@mixin ribbon($bg: $result-highlight-color) {
  background-color: $bg;
  background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
  color: $white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
  border-width: 1px 1px 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  margin: 0;
  padding: 4px 40px;
  position: absolute;
  top: 12px;
  &:after {
    border-width: 7px;
    border-style: solid;
    border-top-color: $text-highlight-color;
    border-bottom-color: transparent;
    bottom: -15px;
    content: "";
    position: absolute;
  }
}
