h1, h2, h3, h4, h5, h6, label {
  cursor: default;
  font-family: $readable;
}
.label {
  color: $text-color;
  font-weight: $med;
  text-align: center;
  margin-top: 2rem;
  small {
    color: $shadow-color;
  }
}
.search-title {
  color: $action-color;
  text-shadow: 0 1px 0 $white;
  font-family: $readable;
  font-size: 1.25rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
  @media all and (min-width: 480px) {
    font-size: 1.75rem;
  }
}
.no-textshadow {
  .search-title {
    color: $action-highlight-color;
  }
}
