$font: Roboto, Quando, Helvetica Neue, Trebuchet MS, Helvetica, Arial Condensed, Arial, sans-serif;
$readable: Droid Serif, Times New Roman, Georgia, Times, serif;
/* $success: #63B257; #4CBFCA; */
/* #3C787E; */ /* #17bebb; */

$text-on-bg-color: #082642;
$result-color: #205A8F; /*#3E657E;*/
$result-highlight-color: #438ED1;
$heading-color: #2e282a;
$action-color: #FF9E00; /*#CA8F3B;*/
$action-highlight-color: #FFFFCC; /*edb88b;*/
$text-color: #666666;
$text-highlight-color: #7F7F7F;
$success-color: #63B257; /*#197ACA; #4F9ACA;*/
$success-highlight-color: #418CCA; /*#78AACA;*/
$black: #232323;
$white: #FEFEFE;
$bg: #FAFAFA;
$shadow-color: #AAA;

$result: $result-color;
$result-highlight: $result-highlight-color;
$action: $action-color;
$action-highlight: $action-highlight-color;
$text: $text-color;
$text-highlight: $text-highlight-color;
$success: $success-color;
$success-highlight: $success-highlight-color;
