$font: Roboto, Quando, Helvetica Neue, Trebuchet MS, Helvetica, Arial Condensed, Arial, sans-serif;
$readable: Droid Serif, Times New Roman, Georgia, Times, serif;
/* $result-color: #568D91; */
$result-color: #17bebb;
$heading-color: #2e282a;
$action-color: #cd5334;
$action-highlight-color: #edb88b;
$text-color: #666666;
$text-light-color: #737F71;
$text-highlight-color: #7F7F7F;
$success: #63B257;
$black: #232323;
$white: #F6FCF4;
