$font: Montserrat, Roboto, Quando, Helvetica Neue, Helvetica, Trebuchet MS, Arial Condensed, Arial, sans-serif;
$readable: Droid Serif, Times New Roman, Times Roman, Times, Georgia, serif;
$heading: $font;
/*$heading: Montserrat, Quando, Quicksand, Georgia, Trebuchet MS, serif;*/

$bold: 700;
$med: 400;

$text-on-bg-color: #082642;
$result-color: #205A8F;
$result-highlight-color: #438ED1;
$heading-color: #2e282a;
$action-color: #FF9E00;
$action-highlight-color: #FFFFCC;
$text-color: #666666;
$text-highlight-color: #7F7F7F;
$success-color: #63B257;
$success-highlight-color: #8EFE7C;
$black: #232323;
$white: #FEFEFE;
$bg-color: #FAFAFA;
$shadow-color: #AAAAAA;

$result: $result-color;
$result-highlight: $result-highlight-color;
$action: $action-color;
$action-highlight: $action-highlight-color;
$text: $text-color;
$text-highlight: $text-highlight-color;
$success: $success-color;
$success-highlight: $success-highlight-color;
$bg: $bg-color;
